@import "tailwindcss";
@import "../public/fonts/fonts.css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #fdfdfd;
  --background-dark: #fbfbfb;
  --background-darker: #d9d9d9;
  --background-light: #ffffff;
  --foreground: #1d1c1a;
  --primary: #e17009;
  --primary-light: #ffb42d;
  --primary-lighter: #ffcd74;
}

[data-theme="dark"] {
  --background: #1d1c1a;
  --background-dark: #20222c;
  --background-darker: #1a1b23;
  --background-light: #404459;
  --foreground: #fdfdfd;
  --primary: #e17009;
  --primary-light: #ffb42d;
  --primary-lighter: #ffcd74;
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-background-darker: var(--background-darker);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);
}

/*=== UTILITY ===*/
@utility bg-banner-* {
  background-image: --value(--bg-banner-*);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@utility custom-slider {
  -ms-overflow-style: none;
  scrollbar-width: thin;
}
.custom-slider:: -webkit-scrollbar {
  height: 8px;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@utility border-top-gradient {
  display: flex;
}
.border-top-gradient::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, orange, transparent);
}

@utility border-gradient {
  border: gradient(to right, var(--primary), var(--primary-light)) 1px solid;
}

/*=== KEYFRAMES ===*/
@keyframes smoothAppear {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    clip-path: inset(0 0 100% 0);
  }
  60% {
    opacity: 0.8;
    transform: translateY(0) scale(1.02);
    clip-path: inset(0 0 0 0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    clip-path: inset(0 0 0 0);
  }
}

.block-appear {
  animation: smoothAppear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  will-change: transform, opacity, clip-path;
}

/*=== css resets ===*/
* {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
